@import "tailwindcss";

@layer base {
    @font-face {
        font-family: 'quick-sans';
        font-weight: 300;
        src: url("/fonts/Quicksand-Light.ttf") format("truetype");
    }
    @font-face {
        font-family: 'quick-sans';
        font-weight: 400;
        src: url("/fonts/Quicksand-Medium.ttf") format("truetype");
    }
    @font-face {
        font-family: 'quick-sans';
        font-weight: 700;
        src: url("/fonts/Quicksand-Bold.ttf") format("truetype");
    }

    * {
        user-select: none;
        font-family: 'quick-sans', sans-serif;
    }

    #nprogress .bar {
        background-color: black !important;
        height: 2px !important;
        box-shadow: 0 5px 15px -3px black !important;
    }

    #nprogress .peg {
        box-shadow: 0 0 10px black,
        0 0 5px black !important;
    }

    #nprogress .spinner-icon {
        border-top-color: black !important;
        border-left-color: black !important;
    }

    a:is(:link,:visited).active {
    }
}